.contact {
    text-align: left;
    margin-left: 150px;

}

h1 {
    font-size: 80px;
    color: rgb(23, 53, 23);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    text-align: center;

}

.numstat {
    font-size: 50px;
}

.textstat {
    font-size: 20px;
}

.stat1 {
    border: 5px double rgb(136, 186, 136);
    width: 300px;
    height: 300px;
    border-radius: 120%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobrenosotros {
    text-align: right;
    display: flex;
    justify-content: end;

}

.servicios {
    display: flex;
    justify-content: center;

}

.proveedores {
    text-align: center;
    
}

.revistas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 50px;
    border:1px solid rgb(202, 200, 200);

}