* {
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    border-color: rgb(168, 168, 168) !important;
    box-shadow: 1px 1px 1px rgb(78, 78, 78);
}

.login {
    border: 5px double rgb(136, 186, 136);
    margin-left: 50px;
    text-align: center;
}

.login-title {
    font-size: 30px;
    color: rgb(23, 53, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}
