* {
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    border-color: rgb(168, 168, 168) !important;
    box-shadow: 1px 1px 1px rgb(78, 78, 78);
}

.logintemplate {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login {
    border: 5px double rgb(136, 186, 136);
    text-align: center;
    padding: 10px;
}

.login-title {
    font-size: 30px;
    color: rgb(23, 53, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    border: 5px double rgb(236, 140, 155);
    text-align: center;
    color: rgb(100, 43, 52);
}

.registertitle {
    font-size: 40px;
    color: rgb(236, 140, 155);

}

.registerproveedor {
    border: 5px double;
    text-align: center;
    color:  rgb(62, 17, 62);
}

.registerprovtitle {
    font-size: 40px;
    color: rgb(62, 17, 62);
}

.planilla {
    background: url('https://cdn.caratsandcake.com/_images/cache/Katelynn-and-Avery-The-Vinoy-Renaissance-St-Petersburg-Resort-and-Golf-Club-014-238830-1676070079.jpg');
    padding: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;

}

.planilla-provider {
    background: url('https://cdn.caratsandcake.com/_images/cache/loews-vanderbilt-hotel-thumb-258077-1687793414.jpg');
    padding: 120px;
    background-size: cover;
    background-repeat: no-repeat;
}

.planilla2 {
    background: white;
    color: black;
    opacity: 0.8;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: black;
    
}

.planillatitle {
    color: rgb(139, 30, 48);
}

.membresiatitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(214, 189, 49);
}

.membership-user-images {
    height: 500px;
    background-size: cover;
}

.cardmemb-img-top1 {
    margin: 10px;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardmemb {
    margin: 20px;
    border: 6px double rgb(246, 236, 180);
    border-radius: 2%;
    padding: 20px;
    height: 850px;
}

.card-membership-provider {
    border-color: rgb(62, 17, 62);
}

.membership-card-image {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
};

.fundadorestitle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px double black;
    padding: 10px;
}

.fundadoresubtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    border: 6px double black;
    
}

.inspotitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.slider {
    overflow-x: scroll;
    overscroll-behavior-x: auto;

}

.card-text-inspo {
    text-align: left;
}

.card-profile-img {
    width: 145px;
    height: 155px;
    border-radius: 40%;
}

.profile-presu {
    border: 4px double rgb(3, 3, 79);
    padding: 20px;
}

.profile-layout1 {
    border: 4px double rgb(3, 3, 79);
    background-color: white;
    padding: 20px;
}

.profile-layout2 {
    border: 4px double rgb(3, 3, 79);
    padding: 20px;
}

.profile-fondo {
    background: url('https://cdn.caratsandcake.com/_images/cache/Katie-and-Ross-Querencia-Los-Cabos-021-260657-1695835289.jpg');
    padding: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.profile-guide-layout {
    padding: 25px;
    margin: 20px;
}

.card-profile {
    border-radius: 3%;
    height: 400px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-row {
    max-height: 330px;
    grid-auto-rows: 1fr;
}

.profile-expert {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-prov-back {
    background: rgba(248, 229, 195, 0.448);
    padding: 10px;
}

